[submodule "include/imgui-sfml"]
	path = include/imgui-sfml
	url = git@github.com:eliasdaler/imgui-sfml.git
[submodule "include/imgui"]
	path = include/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "backward-cpp"]
	path = backward-cpp
	url = git@github.com:bombela/backward-cpp.git
[submodule "include/libmapgen"]
	path = include/libmapgen
	url = git@github.com:averrin/libmapgen.git
