[submodule "include/imgui-sfml"]
	path = include/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "backward-cpp"]
	path = backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "include/libmapgen"]
	path = include/libmapgen
	url = https://github.com/averrin/libmapgen.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
